<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Medirappel</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Medirappel</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container" class="ion-padding">
    <ion-text *ngIf="!isLoading">
      <h2>Bienvenue, {{ userEmail }} 👋</h2>
    </ion-text>

    <ion-button color="danger" expand="block" (click)="logout()">
      Se déconnecter
    </ion-button>
  </div>
</ion-content>