<ion-content>
  <div class="flex-center">
    <ion-card>
      <ion-card-header>
        <ion-card-title color="primary">Confirmation Email</ion-card-title>
      </ion-card-header>

      <ion-card-content>

        <div class="code-inputs">
          <ion-input class="code-box" maxlength="1" type="tel" inputmode="numeric"></ion-input>
          <ion-input class="code-box" maxlength="1" type="tel" inputmode="numeric"></ion-input>
          <ion-input class="code-box" maxlength="1" type="tel" inputmode="numeric"></ion-input>
          <ion-input class="code-box" maxlength="1" type="tel" inputmode="numeric"></ion-input>
        </div>

        <p class="subtitle">Vous allez recevoir un code par mail</p>

        <ion-button color="primary" expand="block" href="/password">Continuer</ion-button>

      </ion-card-content>
    </ion-card>
  </div>
</ion-content>